lab1/*
!lab1/lab1.R
.DS_Store
lab2/*
!lab2/lab2.R
.Rproj.user
lab3/*
!lab3/lab3.R
lab4/*
!lab4/lab4.R
lab5/*
!lab5/lab5.R
assign5/NYC_Citywide_Annualized_Calendar_Sales_Update_20241107.csv
assign2/epi_results_2024_pop_gdp.csv
assign2/epi2024variables2024-12-11.csv